
<%- include('includes/head') %>

<section class="container">


    <h1>
<%= umaVariavelLocal %>
<%# chamar a variavel local para invocar o titulo %>
      
    </h1>
    
    
    <form action="/" method="post">
<label for="">cliente</label>
<input type="text" name="cliente" id="">
<button>submit</button>

    </form>
</section>

<%- include('includes/footer') %>