
<%- include('includes/head') %>

<section class="container">


    <h1><%= csrfToken %> </h1>
    
    
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<label for="">cliente</label>
<input type="text" name="cliente" id="">
<button>submit</button>

    </form>
</section>

<%- include('includes/footer') %>